<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Every Thought | Shower Thoughts</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <%- include('../partials/nav.ejs') %>
        </header>
        
        <main class="content">
            <h1 class="page-title">Every Thought</h1>
            <section class="thoughts">
                <% thoughts.forEach(thought => { %>
                    <article class="each-thought">
                        <a href="/thoughts/<%= thought._id %>">
                            <% thought.categories.forEach(category => { %>
                                <p class="tags"><%= category %></p>
                                <p><%= thought.content %></p>
                                <p>♥️ - <%= thought.likes.length %> | A thought from <%= thought.author.username %> | <%= thought.comments.length %> - 💬</p>
                            <% }); %>
                        </a>
                    </article>
         
                <% }) %>          
            </section>
        </main>
        <footer class="footer">
            <%- include('../partials/footer.ejs') %>
        </footer>
    </div>

    
</body>
</html>